In [1]:
import PetThermoTools as ptt 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

#### uncomment these two lines if alphaMELTS files are not added to your Python path - obviously you're have to change the file location
# import sys
# sys.path.append(r"/Users/gleesonm/Library/CloudStorage/GoogleDrive-gleesonm@berkeley.edu/My Drive/2022/GitHub/MELTS130beta/MacOS")

In [3]:
# used to suppress MELTS outputs in MacOS systems (run twice)
import sys
import os
sys.stdout = open(os.devnull, 'w')
sys.stderr = open(os.devnull, 'w')

In [4]:
bulk = {'SiO2': 53.93,
        'TiO2': 0.67,
        'Al2O3': 18.56,
        'FeOt': 8.5,
        'MnO': 0.21,
        'MgO': 3.96,
        'CaO': 9.16,
        'Na2O': 2.92,
        'K2O': 0.69,
        'P2O5': 0.13}

In [5]:
Combined = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, # small bug, you have to make sure T_C is the correct size
                      P_bar = 2000, H2O_Liq = np.random.random(100)*10,
                      fO2_buffer="NNO", fO2_offset = 1)

  0%|          | 0/13 [00:00<?, ?it/s]

In [6]:
Combined.head()

,T_C,P_bar,g,h,s,v,dvdp,SiO2_Liq,TiO2_Liq,Al2O3_Liq,...,alloy-liquid_affinity,calcite_affinity,aragonite_affinity,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity
0,1070.0,2000.0,-1.808044e+06,-1.349815e+06,341.160410,55.881190,0.010726,53.835613,0.516817,18.002623,...,91055.323129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,2000.0,-1.822640e+06,-1.356604e+06,346.972177,57.793879,0.012586,53.835613,0.516817,18.002623,...,91079.632044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,2000.0,-1.641058e+06,-1.278469e+06,269.954133,40.078810,-0.000024,57.801418,0.589283,16.127715,...,90685.944115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,2000.0,-1.618381e+06,-1.273714e+06,256.611047,38.468720,0.000215,60.365871,0.669065,15.223838,...,90619.362025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,2000.0,-1.693770e+06,-1.296584e+06,295.712174,43.088765,-0.000277,54.469975,0.534327,18.193425,...,90824.538936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Run the same calculation but suppress ALL solids (random H2O and CO2 contents)

In [7]:
NoSolids = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, P_bar = 500, H2O_Liq = np.random.random(100)*10, 
                                 CO2_Liq = np.random.random(100)*0.4, fO2_buffer = "NNO", fO2_offset = 1, Suppress = "All")

  0%|          | 0/13 [00:00<?, ?it/s]

In [8]:
NoSolids.head()

,T_C,P_bar,g,h,s,v,dvdp,SiO2_Liq,TiO2_Liq,Al2O3_Liq,...,alloy-liquid_affinity,calcite_affinity,aragonite_affinity,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity
0,1070.0,500.0,-1.635290e+06,-1.270060e+06,271.920421,43.644285,0.002730,53.638812,0.666382,18.459788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,-1.703372e+06,-1.299781e+06,300.481204,69.062278,0.024606,53.282753,0.661959,18.337250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,-1.789417e+06,-1.337675e+06,336.330135,109.910292,0.060480,53.282572,0.661957,18.337188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,-1.832978e+06,-1.356921e+06,354.433172,130.482288,0.078419,53.287005,0.662012,18.338713,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,-1.603123e+06,-1.256394e+06,258.145647,40.528435,0.001295,54.220265,0.673606,18.659895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Run an equilibrate calculation using the Holland et al. (2018) thermodynamic model via MAGEMin

In [9]:
# I've found that this cell is necessary to get Julia calculations to work on Mac, but with Windows PCs it can be skipped.
Mac = True
if Mac is True:
    import julia
    julia.install()
    from julia.api import Julia
    jl = Julia(compiled_modules=False)

Currently I have not worked out how to use fO2 buffers in MAGEMin so you need to first calculate and then specify the Fe3Fet value for each sample

In [10]:
Holland = ptt.equilibrate_multi(Model = "Holland", bulk = bulk, T_C = np.zeros(100) + 1070.0, P_bar = 500.0, H2O_Liq = np.random.random(100)*10, Fe3Fet_Liq = 0.15)

In [12]:
Holland.head()

,T_C,P_bar,SiO2_Plag,TiO2_Plag,Al2O3_Plag,Cr2O3_Plag,FeOt_Plag,MgO_Plag,CaO_Plag,Na2O_Plag,...,Al2O3_Ol,Cr2O3_Ol,FeOt_Ol,MgO_Ol,CaO_Ol,Na2O_Ol,K2O_Ol,H2O_Ol,Fe3Fet_Ol,mass_Liq
0,1070.0,500.0,48.131315,0.0,33.321307,0.0,0.0,0.0,16.259351,2.280906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.712446
1,1070.0,500.0,48.138542,0.0,33.316426,0.0,0.0,0.0,16.253637,2.284216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.715527
2,1070.0,500.0,48.161238,0.0,33.301096,0.0,0.0,0.0,16.235693,2.294604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.725440
3,1070.0,500.0,48.138942,0.0,33.316155,0.0,0.0,0.0,16.253320,2.284399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.715699
4,1070.0,500.0,48.268552,0.0,33.228577,0.0,0.0,0.0,16.150821,2.343633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.778653