In [1]:
import petthermotools as ptt 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

#### uncomment these two lines if alphaMELTS files are not added to your Python path - obviously you're have to change the file location
# import sys
# sys.path.append(r"/Users/gleesonm/Library/CloudStorage/GoogleDrive-gleesonm@berkeley.edu/My Drive/2022/GitHub/MELTS130beta/MacOS")

In [3]:
# used to suppress MELTS outputs in MacOS systems (run twice)
import platform
if platform.system() == "Darwin":
    import sys
    import os
    sys.stdout = open(os.devnull, 'w')
    sys.stderr = open(os.devnull, 'w')

In [4]:
bulk = {'SiO2': 53.93,
        'TiO2': 0.67,
        'Al2O3': 18.56,
        'FeOt': 8.5,
        'MnO': 0.21,
        'MgO': 3.96,
        'CaO': 9.16,
        'Na2O': 2.92,
        'K2O': 0.69,
        'P2O5': 0.13}

In [5]:
Combined = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, # small bug, you have to make sure T_C is the correct size
                      P_bar = 2000, H2O_Liq = np.random.random(100)*10,
                      fO2_buffer="NNO", fO2_offset = 1)

  0%|          | 0/13 [00:00<?, ?it/s]

In [6]:
Combined

,T_C,P_bar,mass_g,h_J,s_J/K,v_cm3,rho_kg/m3,log10(fO2),dvdp_cm3/bar,SiO2_Liq,...,calcite_affinity,aragonite_affinity,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity,fluid_affinity
0,1070.0,2000.0,100.388929,-1.257707e+06,286.317196,41.730380,2405.655748,-8.200846,-0.000267,54.513307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2747.691495
1,1070.0,2000.0,100.390253,-1.257898e+06,285.052755,41.572970,2414.796238,-8.200846,-0.000264,54.621064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3276.646275
2,1070.0,2000.0,100.363266,-1.251684e+06,326.455588,55.841141,1797.299713,-8.200846,0.014399,53.835613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,2000.0,100.390206,-1.280845e+06,242.250630,36.757470,2731.151123,-8.200846,0.000579,65.403498,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50054.451518
4,1070.0,2000.0,100.375314,-1.255005e+06,304.590878,46.934013,2138.647612,-8.200846,0.004412,53.835613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1070.0,2000.0,100.419160,-1.263101e+06,273.376502,40.348998,2488.764632,-8.200846,-0.000118,56.629196,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8272.678367
96,1070.0,2000.0,100.388208,-1.280983e+06,241.982944,36.724914,2733.517849,-8.200846,0.000586,65.537784,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51351.377347
97,1070.0,2000.0,100.364287,-1.251965e+06,324.602127,55.086088,1821.953453,-8.200846,0.013553,53.835613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1070.0,2000.0,100.418233,-1.262941e+06,273.722561,40.384985,2486.523983,-8.200846,-0.000123,56.565697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8087.185393
99,1070.0,2000.0,100.426815,-1.264406e+06,270.583580,40.059188,2506.960793,-8.200846,-0.000080,57.150117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9881.311521

## Run the same calculation but suppress ALL solids (random H2O and CO2 contents)

In [7]:
NoSolids = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, P_bar = 500, H2O_Liq = np.random.random(100)*10, 
                                 CO2_Liq = np.random.random(100)*0.4, fO2_buffer = "NNO", fO2_offset = 1, Suppress = "All")

  0%|          | 0/13 [00:00<?, ?it/s]

In [9]:
NoSolids.head()

,T_C,P_bar,mass_g,h_J,s_J/K,v_cm3,rho_kg/m3,log10(fO2),dvdp_cm3/bar,SiO2_Liq,...,alloy-liquid_affinity,calcite_affinity,aragonite_affinity,magnesite_affinity,siderite_affinity,dolomite_affinity,spurrite_affinity,tilleyite_affinity,diamond_affinity,graphite_affinity
0,1070.0,500.0,100.261608,-1.259692e+06,283.628776,55.999691,1790.395738,-8.200846,0.013966,53.278643,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,100.246451,-1.251843e+06,328.872606,123.144608,814.054738,-8.200846,0.075063,53.278845,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,100.259262,-1.257361e+06,289.480547,65.695751,1526.114873,-8.200846,0.022510,53.325280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,100.257489,-1.256664e+06,294.964930,73.435686,1365.242078,-8.200846,0.029588,53.307664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,100.263493,-1.260323e+06,277.824722,48.226950,2078.993021,-8.200846,0.006862,53.319307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Run an equilibrate calculation using the Green et al. (2025) thermodynamic model via MAGEMin

In [10]:
Eq_Green = ptt.equilibrate_multi(Model = "Green2025", bulk = bulk, 
                                 T_C = np.zeros(100) + 1070.0, 
                                 P_bar = 500.0, H2O_Liq = np.random.random(100)*10.0, Fe3Fet_Liq = 0.15)

In [11]:
Eq_Green

,T_C,P_bar,mass_g,h_J,s_J/K,v_cm3,rho_kg/m3,log10(fO2),mass_per_mole_g/mol,eta_Pa.s,...,TiO2_Opx,Al2O3_Opx,Cr2O3_Opx,FeOt_Opx,MgO_Opx,CaO_Opx,Na2O_Opx,K2O_Opx,H2O_Opx,Fe3Fet_Opx
0,1070.0,500.0,100.0,-1.284387e+06,253.385206,39.671694,2520.688921,-9.794965,61.379755,176.953896,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,100.0,-1.278404e+06,285.600787,42.358075,2360.824922,-9.839277,56.048135,182.172936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,100.0,-1.277730e+06,289.207293,42.671435,2343.488071,-9.843200,55.508744,182.772495,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,100.0,-1.272738e+06,315.995078,45.110810,2216.763559,-9.888667,51.803823,186.062736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,100.0,-1.286983e+06,241.422415,38.134919,2622.268577,-9.588637,63.518327,657.872515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1070.0,500.0,100.0,-1.276486e+06,295.881959,43.263273,2311.429351,-9.853583,54.537063,183.402325,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,1070.0,500.0,100.0,-1.275619e+06,300.539222,43.682046,2289.270071,-9.861543,53.878800,183.976681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1070.0,500.0,100.0,-1.284902e+06,250.633064,39.454084,2534.591860,-9.790875,61.881894,176.869098,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1070.0,500.0,100.0,-1.285650e+06,245.717461,38.826225,2575.578752,-9.781935,62.818759,266.286307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1070.0,500.0,100.0,-1.271879e+06,320.600566,45.549198,2195.428321,-9.897229,51.216017,186.189334,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN