In [1]:
import petthermotools as ptt 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

#### uncomment these two lines if alphaMELTS files are not added to your Python path - obviously you're have to change the file location
# import sys
# sys.path.append(r"/Users/gleesonm/Library/CloudStorage/GoogleDrive-gleesonm@berkeley.edu/My Drive/2022/GitHub/MELTS130beta/MacOS")

In [3]:
# used to suppress MELTS outputs in MacOS systems (run twice)
import platform
if platform.system() == "Darwin":
    import sys
    import os
    sys.stdout = open(os.devnull, 'w')
    sys.stderr = open(os.devnull, 'w')

In [4]:
bulk = {'SiO2': 53.93,
        'TiO2': 0.67,
        'Al2O3': 18.56,
        'FeOt': 8.5,
        'MnO': 0.21,
        'MgO': 3.96,
        'CaO': 9.16,
        'Na2O': 2.92,
        'K2O': 0.69,
        'P2O5': 0.13}

In [5]:
Combined = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, # small bug, you have to make sure T_C is the correct size
                      P_bar = 2000, H2O_init = np.random.random(100)*10,
                      fO2_buffer="NNO", fO2_offset = 1)

In [6]:
Combined['liquid1']

,SiO2_Liq,TiO2_Liq,Al2O3_Liq,Cr2O3_Liq,Fe2O3_Liq,FeO_Liq,FeOt_Liq,MnO_Liq,MgO_Liq,CaO_Liq,Na2O_Liq,K2O_Liq,P2O5_Liq,H2O_Liq,CO2_Liq,Fe3Fet_Liq
0,57.818543,0.589480,16.124619,0.0,1.748943,4.046002,5.619690,0.268550,4.268416,8.065698,3.185625,0.864086,0.166245,2.853792,0.0,0.280031
1,53.835613,0.516817,18.002623,0.0,1.630795,3.827442,5.294821,0.209632,3.621241,9.143968,2.914889,0.688792,0.129772,5.478412,0.0,0.277135
2,57.476147,0.585889,16.185572,0.0,1.755668,4.050647,5.630386,0.260584,4.314106,8.260779,3.157398,0.840885,0.161314,2.951010,0.0,0.280574
3,67.594479,1.299593,12.391764,0.0,1.556684,3.663813,5.064507,0.814621,1.704786,6.521357,1.883624,1.872459,0.504289,0.192530,0.0,0.276571
4,56.372161,0.568097,16.935030,0.0,1.723249,3.981570,5.532138,0.239817,4.088103,8.654551,3.107867,0.781104,0.148458,3.399993,0.0,0.280284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,54.551703,0.536547,18.217537,0.0,1.651413,3.844274,5.330204,0.212421,3.662053,9.265596,2.953662,0.697954,0.131499,4.275341,0.0,0.278776
96,53.870195,0.517782,18.013173,0.0,1.631888,3.828553,5.296916,0.209767,3.623290,9.149842,2.916762,0.689235,0.129856,5.419656,0.0,0.277211
97,53.835613,0.516817,18.002623,0.0,1.630795,3.827442,5.294821,0.209632,3.621241,9.143968,2.914889,0.688792,0.129772,5.478412,0.0,0.277135
98,54.782321,0.541163,18.119688,0.0,1.659781,3.858108,5.351568,0.215023,3.702591,9.215974,2.974961,0.706100,0.133110,4.091181,0.0,0.279070
99,55.985600,0.561507,17.229351,0.0,1.708007,3.951854,5.488707,0.233407,3.989277,8.783855,3.083269,0.762134,0.144490,3.567250,0.0,0.280003

## Run the same calculation but suppress ALL solids (random H2O and CO2 contents)

In [7]:
NoSolids = ptt.equilibrate_multi(Model = "MELTSv1.2.0", bulk = bulk, T_C = np.zeros(100) + 1070, P_bar = 500, H2O_Liq = np.random.random(100)*10, 
                                 CO2_Liq = np.random.random(100)*0.4, fO2_buffer = "NNO", fO2_offset = 1, Suppress = "All")

In [8]:
NoSolids['All'].head()

,T_C,P_bar,mass_g,H_J,S_J/K,V_cm^3,rho_kg/m^3,log10(fO2),dVdP_cm^3/bar,mass_g_Fl,...,X_co2_Liq,X_so3_Liq,X_cl2o-1_Liq,X_f2o-1_Liq,X_h2o_Liq,X_caco3_Liq,H2O_Fl,CO2_Fl,X_H2O_mol_Fl,X_CO2_mol_Fl
0,1070.0,500.0,100.252985,-1.256344e+06,303.374538,64.983908,1542.735542,-8.200846,0.020314,1.993311,...,2.072814e-16,0.0,0.0,0.0,0.178278,0.000000e+00,94.631363,5.368637,0.977318,0.022682
1,1070.0,500.0,100.247552,-1.251155e+06,324.108306,116.441260,860.928094,-8.200846,0.068571,6.676972,...,1.171351e-05,0.0,0.0,0.0,0.099116,1.474877e-06,94.062621,5.937379,0.974828,0.025172
2,1070.0,500.0,100.261215,-1.259512e+06,284.818815,57.741852,1736.369919,-8.200846,0.015556,1.477927,...,5.730264e-07,0.0,0.0,0.0,0.100663,7.242901e-08,99.699161,0.300839,0.998767,0.001233
3,1070.0,500.0,100.247354,-1.251643e+06,325.408403,118.170880,848.325352,-8.200846,0.070327,6.731498,...,6.768877e-06,0.0,0.0,0.0,0.099804,8.537442e-07,96.515697,3.484303,0.985446,0.014554
4,1070.0,500.0,100.272002,-1.262455e+06,255.048465,40.276001,2489.621598,-8.200846,0.001268,0.373556,...,4.049724e-04,0.0,0.0,0.0,0.001675,3.998339e-05,0.018458,99.981542,0.000451,0.999549

# Run an equilibrate calculation using the Green et al. (2025) thermodynamic model via MAGEMin

In [9]:
Eq_Green = ptt.equilibrate_multi(Model = "Green2025", bulk = bulk, 
                                 T_C = np.zeros(100) + 1070.0, 
                                 P_bar = 500.0, H2O_init = np.random.random(100)*10.0, 
                                 Fe3Fet_Liq = 0.15)

In [10]:
Eq_Green['All']

,T_C,P_bar,mass_g,H_J,S_J/K,V_cm^3,rho_kg/m^3,log10(fO2),mass_per_mole_g/mol,eta_Pa.s,...,TiO2_Opx,Al2O3_Opx,Cr2O3_Opx,FeOt_Opx,MgO_Opx,CaO_Opx,Na2O_Opx,K2O_Opx,H2O_Opx,Fe3Fet_Opx
0,1070.0,500.0,100.0,-1.285384e+06,247.246987,39.056786,2560.374559,-9.796510,62.533089,216.198454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1070.0,500.0,100.0,-1.281204e+06,270.532615,41.072369,2434.726869,-9.816405,58.421647,179.948379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1070.0,500.0,100.0,-1.281330e+06,269.836483,41.012837,2438.260995,-9.814234,58.536769,179.640298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1070.0,500.0,100.0,-1.274125e+06,308.561747,44.416275,2251.426958,-9.873663,52.781302,185.071435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1070.0,500.0,100.0,-1.281341e+06,269.808647,41.012186,2438.299685,-9.815537,58.540506,179.932664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1070.0,500.0,100.0,-1.286204e+06,243.894027,38.533552,2595.140959,-9.708297,63.119695,371.967569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,1070.0,500.0,100.0,-1.285452e+06,246.696560,38.980093,2565.412033,-9.797383,62.640440,231.435887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,1070.0,500.0,100.0,-1.272456e+06,317.495603,45.250903,2209.900667,-9.889736,51.611075,185.819308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1070.0,500.0,100.0,-1.284228e+06,254.280374,39.744910,2516.045452,-9.792611,61.216775,177.504549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1070.0,500.0,100.0,-1.276715e+06,294.652456,43.153087,2317.331302,-9.851894,54.713455,183.265981,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
Eq_Green['PhaseList']

0        Fsp,Liq
1     Fsp,Liq,Fl
2     Fsp,Liq,Fl
3     Fsp,Liq,Fl
4     Fsp,Liq,Fl
         ...
95    Fsp,Ol,Liq
96       Fsp,Liq
97    Fsp,Liq,Fl
98    Fsp,Liq,Fl
99    Fsp,Liq,Fl
Length: 100, dtype: object